<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.MemberDAO"> 
	
	<select id="selectMember" parameterType="com.smhrd.model.Member" resultType="com.smhrd.model.Member">
		select * from tbl_member where mem_id=#{id} and mem_pw=#{pw}
	</select>
	
	<!-- <select id="insertMember" parameterType="com.smhrd.model.Member">
		insert into tbl_member values(#{id},#{pw},#{nick},#{name},0,null,null,null,null,sysdate,null,0,0,0,null)
	</select> 원본테이블 수정해야할것 같은딩 ㅜㅠ?-->
	
	<select id="insertMember" parameterType="com.smhrd.model.Member">
		insert into tbl_member values(#{id},#{pw},#{nick},#{name},#{phone},#{account},#{jumin},sysdate,#{type},#{temper},#{area})
	</select>
	
				
				
	
	
	<select id="idCheck" parameterType="String" resultType="boolean">
  	select case when count(*)>0 then 1 <!--1=true  -->
  				else 0 <!--0=false  -->
  			end result
  	from tbl_member where mem_id=#{id}
  	</select>
	
	
	
	
</mapper>    
